.bg-white { background-color: white; }
.bg-gray { background-color: #f6f6f6; }

.padding-1 { padding: 1rem; }

.margin-top-2 { margin-top: 2rem; }

.center { text-align: center; }

a {
  text-decoration: none;
  color: #d29e00;
}
a:hover {
  text-decoration: underline;
}

.ngrateit {
  padding: 1rem 0;
}

md-toolbar .links {
  font-size: 12pt;
}
